<!DOCTYPE html>
<html dir="ltr" lang="ja">
	<head>
		<meta charset="UTF-8">

		<title>Rabbit English Class</title>

		<meta name="description" content="">
		<meta name="keywords" content="">

		<link rel="stylesheet" type="text/css" href="/public/8/css/style.css">
		<link rel="stylesheet" type="text/css" href="/public/8/css/font-awesome.css">

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/public/8/js/menu.js"></script>	

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
	</head>
	<body>
		<div class="header center">
			<img src="/public/8/images/img_illust-rabit.png">
			<h1 class="site-title">Rabbit English Class<span>うさぎ先生の英語教室</span></h1>
			<h2 class="menu-title"><i class="icon-list"></i>Menu</h2>
			<ul class="navi clearfix">
				<li><a href=""><i class="icon-edit"></i>Lesson Course</a></li>
				<li><a href=""><i class="icon-smile"></i>Nursery Guide</a></li>
				<li><a href=""><i class="icon-map-marker"></i>Access</a></li>
				<li><a href=""><i class="icon-envelope-alt"></i>Inquires</a></li>
			</ul>
		</div>

		<div class="main">
			<h2><img src="/public/8/images/txt_onemore.png" alt="Will you not learn with techer Rabbit one more time? text image"></h2>
			<p>市内から車で30分。自然豊かで空気がおいしいうさぎ先生のお家で英語教室を開いています。<br /> 過去に英語の勉強で挫折された方、学生の頃に勉強しただけで今はもう思い出せない方、難しく考えずにうさぎ先生とコーヒーを飲んだり、おいしいケーキを食べながら楽しく英語を学びにきてください。</p>
		</div>

		<ul class="services clearfix">
			<li><i class="icon-jpy green"></i><h3>Free Trial Lesson Guide</h3><p>「うさぎ先生ってどんな人？」「レッスンってどんなことするの？」みんな最初は不安がいっぱい。ドキドキしながら</p></li>
			<li><i class="icon-smile pink"></i><h3>Nursey Services</h3><p>うさぎ先生のお家には保育士さんが常駐しています。お子さんと一緒にレッスンを受けていただくこともできますし、</p></li>
			<li><i class="icon-moon blue"></i><h3>English Notice</h3><p>定期的に英語お泊り会を開催しています。1泊2日うさぎ先生のお家にいる間、英語だけで過ごすお泊まり会です。</p></li>
			<li><i class="icon-comments-alt orange"></i><h3>Common Concerns</h3><p>「うさぎ先生のお家に通う前こんなことが疑問だった」などみなさんの疑問にお答えしました。</p></li>
		</ul>

		<div class="wrap clearfix">
			<div class="newsBox">
				<h4>Notice</h4>
				<dl>
					<dt>2013.10.01</dt>
					<dd>10月の休講日変更のお知らせ</dd>
					<dt>2013.09.31</dt>
					<dd>第10回「英語お泊り会」のご報告</dd>
					<dt>2013.08.27</dt>
					<dd>教室への落とし物のお知らせ</dd>
					<dt>2013.08.10</dt>
					<dd>夏休み英語の絵本読み聞かせ会のお知らせ</dd>
					<dt>2013.08.01</dt>
					<dd>お盆休みの日程について</dd>
				</dl>
			</div>

			<div class="infoBox">
				<h4>うさぎ先生の英語教室について</h4>
				<dl>
					<dt><i class="icon-time"></i>Lesson Time</dt>
					<dd>Weekdays 10:00 am to 8:00 pm</dd>
					<dt><i class="icon-home"></i>Address</dt>
					<dd>123 Main Street USA</dd>
					<dt><i class="icon-phone"></i>Phone Number</dt>
					<dd>0120-123-4567</dd>
				</dl>
			</div>
		</div>

		<div class="footer">
			<p>Copyright &copy; Rabbit English School All Rights Reserved.</p>
		</div>
	</body>
</html>
