// define "layout" //
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<title>Grid</title>
			<link rel="stylesheet" href="/public/css/main4.css">
		</head>
		<body>
			<div class="wrap">
				<h1 title="Grid"><img src="/public/img/main.jpg" width="960" height="437" alt="Grid">/h1>
				<div class="contents_3clum">

					<h2>New Item</h2>

					<div class="section">
						<a href="/"><img src="/public/img/new_img_01.jpg" width="300" height="173" alt="" /></a>
						<h3>Cold dessert</h3>
						<h4>Summer Mandarine Jelly</h4>
						<p>Great summer jelly!</p>
					</div>

					<div class="section">
						<a href="/"><img src="/public/img/new_img_02.jpg" width="300" height="173" alt"" /></a>
						<h3>Chocolate</h3>
						<h4>Arg Chocolate</h4>
						<p>All choco all the time</p>
					</div>

					<div class="section last">
						<a href="/"><img src="/public/img/new_img_03.jpg" width="300" height="173" alt="" /></a>
						<h3>Tasty Tart</h3>
						<h4>Raspberry</h4>
						<p>Great raspberry tarts</p>
					</div>
	
				</div>
			</div>
		</body>
	</html>
// end //
